:root {
  --primary: #4D4C7D;
  --secondary: #827397;
  --padding: 15px;
  --grey: #405040;
  --light-grey: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}

.active {
  display: none;
}
